<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Flextions</h2>
        <p>Established as a repository to create, store and share aircraft training material, the <strong>FLEXTIONS</strong> website is maintained by a small group of aviation professionals.
        While we are not in a position to ensure the accuracy of all the information that is provided, nor can we accept any responsibility for misuse of the information, we hope that through sharing and active collaboration, we can provide a valuable resource to pilots.</p>

        <p>In furtherance of collaboration on the documents & data that we provide, we hope that others will <a class="nav-link js-scroll-trigger" href="#contact">contact</a> us with an corrections and additional data that we might offer to the community.</p>

        <p>Please enjoy the site.</p>
      </div>
    </div>
  </div>
</section>
